#Form{
    background-color: aquamarine;
    padding: 30px;
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
}
 
h1{
    color: rgb(8, 129, 235);
}

.formControl label{
    font-weight: bold;
    display: block;
}

.formControl input,textarea{
    border: none;
    border-radius: 5px;  
}

#submit{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-size: 16px;
}

#submit:hover{
    background-color: #1b531d;
}